html {
    font-family: sans-serif;
  }
/* Your CSS below here */


div{
    width: 200px;
    padding-top: 90px;
    padding-bottom: 90px;  
    text-align: center;
    /* 1rem is the default font-size of the browser - often 16px, (16 * 1.125 = 18) */
    font-size: 1.125rem;
    border: 3px solid black;
}
  